@import "~bootstrap/scss/bootstrap";

body{
    color: white;
    background-color: #151515;
    font-family: 'Ubuntu', sans-serif;
}

.card{
    background-color: #202020;
    border-radius: 12px;
}

a{
	text-decoration: none !important;
	color: white;
}

.int-link, .int-link:visited {
	text-decoration: none;
	position: relative;
	color: white;
	
	&:after {
		content: '';
		height: 3px;
		position: absolute;
		bottom: 0;
		left: 0;
		width: 0%;
		background: white;
		transition: 0.2s;
	}

	&:hover:after {
		width: 100%;
	}
	
	&.block {
		display: block;
		padding: 0.5em;
		
		&:hover {
			background: #eee;
		}
	}
}